.blkback {
	background-color: black;
	color: white;
	padding-left: 20px;
	border-bottom: solid 2px red;
}
.container-liquid {
  padding: 0;
  margin: 0 auto;
}

.blkbottom {
	background-color: black;
	color: white;
	border-top: solid 2px red;
	margin: 40px 0 0;
	padding: 10px;
}
.portfoliopic {
	border-radius: 10px;
	margin-top: 15px;
}
.portfoliopic:hover {
	cursor: pointer;
}
.grey {
	background-color: #f2f2f2;
}
.sociallink:link {
	color: #E40C0C;
}
.sociallink:visited {
	color: #E40C0C;
}
.sociallink:hover {
	color: #E40C0C;
	-webkit-animation: bounce 1s;
    animation: bounce 1s;
}
i {
	padding: 5px;
}
p, h1, h2, h3, h4, a {
	font-family: 'Source Sans Pro', sans-serif;
}
h1 {

	font-size: 40px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
h2 {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 0px;
}
h3 {
	font-size: 17px;
	padding-top: 0px;
	margin-top: 0px;
}

h4 {
	padding-bottom: 0px;
	margin-bottom: 2px;
	margin-top: 2px;
}

td {
	color: white;
}

.backtotop {
	font-size: 20px;
	color: #E40C0C;
	font-weight: 600;
}
.backtotop:link {
	color: #E40C0C;
	text-decoration: none;
}
.backtotop:visited {
	color: #E40C0C;
	text-decoration: none;
}
.backtotop:hover {
	color: white;
	text-decoration: none;
}

.morelink {
	font-family: 'Source Sans Pro', sans-serif;
	color: #E40C0C;
	font-weight: 600;
}
.morelink:link {
	color: #E40C0C;
	text-decoration: none;
}
.morelink:visited {
	color: #E40C0C;
	text-decoration: none;
}
.morelink:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.tagline {
	padding-top: 10px;
	font-size: 20px;
	margin-bottom: 80px;
}

.splash {
	margin: 0px 0 60px;
}
.splashhead {
	margin-top: 80px;
}
.portfoliotitle {
	margin-bottom: -20px;
}
.center-table
{
  margin: 0 auto;
}
table {
	border-collapse: separate;
	border-spacing: 10px 10px;
}

.heading {
	margin-top: -20px;
}

.social {
	font-family: 'Source Sans Pro', sans-serif;
}

.dmlogo {
  padding-top: 8px;
}