.blkback {
	background-color: black;
	color: white;
	padding-right: 10px;
	border-bottom: solid 2px red;
}
.container-liquid {
  padding: 0;
  margin: 0 auto;
}

.blkbottom {
	background-color: black;
	color: white;
	border-top: solid 2px red;
}
main {
	margin-top: 20px;
}
i {
	padding: 5px;
}
p, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
}
h1 {
	font-family: 'Amiri', serif;
	font-size: 40px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
h3 {
	font-size: 17px;
	padding-top: 0px;
	margin-top: 0px;
}

h4 {

}